<ion-content [fullscreen]="true">

  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button mode="md" defaultHref="/auth"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-row>
      <ion-label>
        Welcome
        <p>Back</p>
      </ion-label>
    </ion-row>
  </ion-header>

  <ion-list class="ion-padding-horizontal ion-margin-horizontal">
    <form [formGroup]="form">
      <div class="ion-margin-bottom">
        <ion-item>
          <ion-input placeholder="Email" type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-text class="error" *ngIf="!form.get('email').valid && form.get('email').touched">
          <ion-text color="danger" *ngIf="form.get('email').hasError('required')">
            * Please enter your Email Address
          </ion-text>
          <ion-text color="danger" 
            *ngIf="!form.get('email').hasError('required') && form.get('email').hasError('email')">
            * Please enter a proper Email Address
          </ion-text>
        </ion-text>
      </div>
      <div class="ion-margin-bottom">
        <ion-item>
          <ion-input placeholder="Password" type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-text class="error" *ngIf="!form.get('password').valid && form.get('password').touched">
          <ion-text color="danger" *ngIf="form.get('password').hasError('required')">
            * Please enter your Password
          </ion-text>
          <ion-text color="danger" 
            *ngIf="!form.get('password').hasError('required') && form.get('password').hasError('minlength')">
            * Password must be of atleast 8 characters
          </ion-text>
        </ion-text>
      </div> 
      <ion-item lines="none" class="signin">
        <ion-label>
          Sign in
        </ion-label>
        <ion-fab-button color="primary" slot="end" (click)="submit()">
          <ion-icon name="arrow-forward-outline" color="white"></ion-icon>
        </ion-fab-button>
      </ion-item>     
    </form>

    <ion-item lines="none" class="featuredItems">
      <ion-text slot="start" routerLink="/auth/sign-up">Sign up</ion-text>
      <ion-text slot="end">Forgot Password?</ion-text>
    </ion-item>


  </ion-list>  

</ion-content>
